<nav class="navbar navbar-expand-lg fixed-top text-light navbar-light" style="background-color: #222222;">
    <div class="container">

        <img src="https://premierleague-static-files.s3.amazonaws.com/premierleague/photo/2016/07/01/715b8dcc-c49a-4774-b52d-cc0d5d73b932/BBC-Sport.png" width="225px" height="127px">


        <h1 class="home">BBC Scraper</h1>

        <ul class="nav navbar-nav navbar-right">
           <li> <button id="home" type="button" class="btn home btn-info">Home</button></li>
            &nbsp;&nbsp;
            &nbsp; <li>
                 <li> <button id="scraper-button" type="button" class="btn btn-info">Scrape New Articles</button></li>
            &nbsp;&nbsp;
            &nbsp; <li> <button id="clear-button" type="button" class="btn view-saved btn-success">View Saved
                    Articles</button></li>
        </ul>
    </div>
</nav>
<div id="main-picture"><img src="../public/images/131108_bbcsport_studios_001.jpg"></div>
<div class="main-pad" id="article-container">
    <div class="container">
        {{#each articles}}
        <hr>
        <h3 class="art-title">{{title}}</h3>
        <a href="https://www.bbc.co.uk{{link}}" target="_blank"><button type="submit" class="btn btn-primary btn-sm">Go
                to Article</button></a>&nbsp;&nbsp;&nbsp;<button type="submit" data-id="{{_id}}"
            class="btn btn-success save btn-sm">Save
            Article</button>
        <hr width="35%" align="left">
        <h6>Article Comments</h6>
        {{#each comments}}
        <p class="comment-text">{{body}}<button data-id="{{_id}}" class="btn btn-danger delete-button delete btn-sm">Delete
            Comment</button></p>
        <small>{{createdDate}}</small>
        {{/each}}


        <form action="/api/{{_id}}/comment" method="POST">
            <div class="form-group">
                <input name="body" class="form-control"></input>
            </div>
            <button type="submit" class="btn btn-info">Submit Comment</button>
        </form>
        <hr>
        {{/each}}
    </div>
</div>
<script>
 $("#scraper-button").on("click", function () {
        $.get("/scrape", function (data) {
            location.reload();
        })
    })

    $(".save").on("click", function () {
        $.get("/api/save-article/" + $(this).attr("data-id"), function (data) {
            console.log(data);
            alert("Article was added to Saved List!")
        });

    });

    $(".delete").on("click", function () {
        $.get("/api/delete-comment/" + $(this).attr("data-id"), function (data) {
            console.log(data);
            alert("Comment was deleted!")
            location.reload();
        });

    });

       $(".view-saved").on("click", function () {
     location = "/saved";

    });

        $(".home").on("click", function () {
     location = "/";

    });





</script>